<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwhIa64yq6ZistyAXOoUPej5u6QeQk4ME</string>
	<key>GCM_SENDER_ID</key>
	<string>566716324893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.financ.calc.invest</string>
	<key>PROJECT_ID</key>
	<string>financehlpr</string>
	<key>STORAGE_BUCKET</key>
	<string>financehlpr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566716324893:ios:e519c00ca0b7eb0b217af4</string>
</dict>
</plist>